ul {
    list-style: none;
  }

.list-container{
    display: grid;
    grid-template-columns: 40% 25% 20% 15%;
    grid-template-areas: 
    "name language tag button";
}

.name{
    grid-area: name;
}

.language{
    grid-area: language;
}
.button{
    grid-area: button;
}
.tag{
    grid-area: tag;
}